body {
  background-color: #2b0000;
}

.button {
  background-color: rgb(45, 0, 0);
  border: 0.3vh solid rgb(179, 0, 0);
  color: rgb(255, 60, 0);
}

.tabButton {
  background-color: #3b0000;
  border: 0.3vh solid rgb(179, 0, 0);
  color: rgb(255, 60, 0);
}

@keyframes flickering {
  from {border-color: rgb(179, 0, 0);}
  to {border-color: rgb(45, 0, 0);}
}

.button:disabled {
  background-color: #222222 !important;
  background: #222222 !important;
  border: 0.3vh solid rgb(144, 144, 144) !important; 
  color: #848484 !important;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: rgb(204, 0, 0);
}