body {
  background-color: #384733;
}

.button {
  background-color: rgb(153, 1, 255);
  border: 0.3vh solid rgb(9, 255, 0);
  color: rgb(255, 175, 1);
}

@keyframes flickering {
  from {border-color: rgb(9, 255, 0);}
  to {border-color: rgb(0, 0, 0);}
}

.button:disabled {
  background-color: #300258 !important;
  background: #300258 !important;
  border: 0.3vh solid #0f3502 !important;
  color: #583a02 !important;
}

#dailyRewardButton {
  color: #b6f;
}


#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: rgb(255, 255, 255);
}

.tabButton { /* This, when it returns true */
  background-color: rgb(153, 1, 255);
  border: 0.3vh solid rgb(9, 255, 0);
  color: rgb(255, 175, 1);
}