body {
  background-color: #573c3c;
}

.button {
  background-color: rgb(255, 247, 0);
  border: 0.3vh solid rgb(255, 0, 0);
  color: rgb(1, 170, 255);
}

@keyframes flickering {
  from {border-color: rgb(255, 0, 0);}
  to {border-color: rgb(255, 255, 255);}
}

.button:disabled {
  background-color: #535802 !important;
  background: #535802 !important;
  border: 0.3vh solid #640c0c !important;
  color: #25027e !important;
}

#dailyRewardButton {
  color: #b6f;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: rgb(255, 255, 255);
}

.tabButton { /* This, when it returns true */
  background-color: rgb(255, 247, 0);
  border: 0.3vh solid rgb(255, 0, 0);
  color: rgb(1, 170, 255);
}