body {
  background-color: #08080b;
}
/*Credits to Hestia for this theme*/
.button {
  background-color: #222f3d;
  border: 0.3vh solid #467;
  color: #7bd;
}

.tabButton {
  background-color: #222f3d;
  border: 0.3vh solid #467;
  color: #7bd;
}

@keyframes flickering {
  from {border-color: #467;}
  to {border-color: #6f74b8;}
}

.button:disabled {
  background-color: #121216 !important;
  background: #121216 !important;
  border: 0.3vh solid #334 !important;
  color: #667 !important;
}

#nextUnlockLevel, #selectedPetText, #themeText, #versionText, #XPBoostDisplay, #ItemBoostDisplay {
  color: #7bd;
}